<div>
  <div class="title">
    <mat-dialog-title>
      Siga as orientações
    </mat-dialog-title>
  </div>

  <div>
    <mat-dialog-content>
      <span>Para os casos em que os galhos estão sofrendo alguma interferência de fios elétricos,
        há uma necessidade de solicitar o serviço de poda.</span>

      <span>Para casos como obstrução da calçada sobre as raízes da árvore e anormalidades nas folhas e tronco, a árvore pode estar correndo riscos de queda.
        Há uma necessidade de avaliação técnica, que deverá ser realizada pelas equipes responsaveis da subprefeitura da cidade</span>

        <span class="alert">Segue o procedimento de como solicitar ambos os serviços: </span>


        <span class="info">O procedimento para a solicitação para a poda ou a retirada de uma arvore pode ser realizada através do
          número de telefone 156, referente a Central de Atendimento do Cidadão. Um cadastro será realizado no momento da solicitação. </span>

        <span class="info">Ou através do site
          <span class="link">
            <a href="https://sp156.prefeitura.sp.gov.br/portal/servicos" target="_blank">https://sp156.prefeitura.sp.gov.br/portal/servicos</a>.
          </span>
        </span>

        <span class="info">Se o solicitante preferir ele pode também comparecer à praça de atendimento da Subprefeitura de sua cidade.</span>
    </mat-dialog-content>
  </div>
</div>
