<div class="content">
  <div class="title">
    <h3>VAMOS ENTENDER A SITUAÇÃO ?</h3>
  </div>

  <div class="questions">
    <div class="first-content">
      <p class="first-question">O que são as doenças das árvores?</p>
      <p class="first-question-content">
        Como em outros organismos vivos, as árvores também possuem doenças
        específicas e estas, por sua vez, podem afetar diferentes partes de uma
        árvore, como por exemplo, os troncos e raízes.
      </p>
    </div>

    <div class="second-content">
      <p class="second-question">Principais Causas</p>
      <p class="second-question-content">
        As doenças podem ser causadas por bactérias, fungos, vírus, dentre
        alguns outros fatores. Porém há um fator específico que pode contribuir
        negativamente para a saúde de uma árvore, as condições do local em que a
        mesma está.
      </p>
    </div>
  </div>

  <div class="second-title">
    <span>Verifique e Classifique uma Árvore Em Risco</span>
  </div>

  <mat-card class="example-card">
    <img mat-card-image src="../../../assets/images/folhas 500px.jpg"/>

    <mat-card-content>
      <p class="title">Passo 1 - Partes Principais</p>
      <p class="content">
        Comece observando as principais partes de uma árvore, como: tronco em
        geral, galhos e folhas. Veja se as folhas estão com uma coloração
        diferente da normal ou se o tronco da árvore apresenta algum desnível.
      </p>
    </mat-card-content>

    <mat-card-actions>
      <button mat-flat-button routerLink="">
        VEJA EXEMPLOS
        <mat-icon>touch_app</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>


  <mat-card class="example-card">
    <img mat-card-image src="../../../assets/images/árvore01 - calçada500px.jpeg"/>

    <mat-card-content>
      <p class="title">Passo 2 - Interferências Externas</p>
      <p class="content">
        Nessa etapa, repare nas interferências externas que a árvore possui, como calçadas obstruindo sua raiz e fios de eletricidade
        entre os galhos.
      </p>
    </mat-card-content>

    <mat-card-actions>
      <button mat-flat-button routerLink="">
        VEJA EXEMPLOS
        <mat-icon>touch_app</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>


  <mat-card class="example-card">
    <img mat-card-image src="../../../assets/images/folhas 500px.jpg"/>

    <mat-card-content>
      <p class="title">Passo 3 - Conclusão</p>
      <p class="content">
        Comece observando as principais partes de uma árvore, como: tronco em
        geral, galhos e folhas. Veja se as folhas estão com uma coloração
        diferente da normal ou se o tronco da árvore apresenta algum desnível.
      </p>
    </mat-card-content>

    <mat-card-actions>
      <button mat-flat-button routerLink="">
        VEJA EXEMPLOS
        <mat-icon>touch_app</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
</div>
