<div class="content">
  <div class="title">
    <h2>VAMOS ENTENDER A SITUAÇÃO ?</h2>
  </div>

  <div class="questions"> 
    <div class="first-content">
      <p class="first-question">O que são as doenças das árvores?</p>
      <p class="first-question-content">
        Como em outros organismos vivos, as árvores também possuem doenças
        específicas e estas, por sua vez, podem afetar diferentes partes de uma
        árvore, como por exemplo, os troncos e raízes.
      </p>
    </div>

    <div class="second-content">
      <p class="second-question">Principais Causas</p>
      <p class="second-question-content">
        As doenças podem ser causadas por bactérias, fungos, vírus, dentre
        alguns outros fatores. Porém há um fator específico que pode contribuir
        negativamente para a saúde de uma árvore, as condições do local em que a
        mesma está.
      </p>
    </div>
  </div>

  <div class="second-title">
    <span>Verifique e Classifique uma Árvore Em Risco</span>
  </div>






</div>
