.content {
  padding: 20px;

  .example-card {
    margin-bottom: 30px;
    margin-top: 12px;
    border-radius: 20px;
    max-width: 400px;

    mat-card-content {

      .title {
        margin-top: 10px;
        margin-bottom: -10px;
        font-weight: bold;
        text-align: center;
        color: #393E46;
      }

      .content {
        font-size: 16px;
        margin-bottom: -20px;
        margin-top: -10px;
        text-align: justify;
      }
    }

    mat-card-actions {
      text-align: center;

      button {
        margin-bottom: 10px;
        color: #86a7aa;
        //color: #4ECCA3;
        background-color: #393E46;
      }
    }
  }

  .title {
    text-align: center;
    color: #4ECCA3;
  }

  .questions {
    text-align: justify;

    .first-question {
      //color: green;
      color: #4ECCA3;
      font-size: 16px;
    }

    .first-question-content {
      font-size: 16px;
      color: #86a7aa;
    }

    .second-content {
      .second-question {
        font-size: 16px;
        //color: green;
        color: #4ECCA3;
      }

      .second-question-content {
        font-size: 16px;
        color: #86a7aa;
      }
    }
  }

  .second-title {
    text-align: center;
    // color: green;
    color: #4ECCA3;
    font-size: 16px;
  }
}
