.title {
  font-size: 18px;
  text-align: center;
  margin-bottom: 12px;
}

mat-dialog-title {
  font-family: "Bebas Neue", cursive;
}

img {
  margin-bottom: 12px;
  width: 100%;
  border-radius: 20px;
}
