<div>
  <div class="title">
    <mat-dialog-title>
      Exemplos para comparação
    </mat-dialog-title>
  </div>

  <mat-dialog-content>
    <img src="../../../../../assets/images/1.jpg" alt="">
    <img src="../../../../../assets/images/2.jpg" alt="">
    <img src="../../../../../assets/images/3.jpg" alt="">
    <img src="../../../../../assets/images/4.jpg" alt="">
    <img src="../../../../../assets/images/5.jpg" alt="">
    <img src="../../../../../assets/images/6.jpg" alt="">
  </mat-dialog-content>
</div>

