<div class="content">

  <div class="main-title">
    <p>Conheça o ciclo de vida de uma árvore</p>
  </div>

  <div class="subtitle">
    <p>
      De forma geral as árvores respeitam o ciclo da maioria dos seres vivos,
      tendo quatro estágios crucias, são eles: Nascimento, Crescimento, Reprodução e Morte.
    </p>
  </div>

  <div class="text-content">
    <div>
      <div class="first-steps">
        <div class="born">Nascimento</div>

        <div class="icon">
          <mat-icon>arrow_forward</mat-icon>
        </div>

        <div class="growth">Crescimento</div>
      </div>

        <div class="end-steps">
          <div class="reproduction">Reprodução</div>
          <div class="icon">
            <mat-icon>arrow_forward</mat-icon>
          </div>
          <div class="death">Morte</div>
        </div>
    </div>
  </div>

  <div class="card-container">
    <mat-card class="example-card">
      <img mat-card-image src="../../../assets/images/tronco.png"/>
      <mat-card-title>Nascimento</mat-card-title>
      <mat-card-content class="text">
        <p>Na fase de nascimento de uma árvore, a árvore-bebê já possui uma pequena raiz, que tem o objetivo de absorver água e sais minerais do solo, o xilema,
          referente a um conjunto de vasos que levam a seiva bruta (água e sais minerais), às folhas e o floema,
          que é um tecido pelo qual se distribui os nutrientes (aminoácidos e açúcares) das folhas para o resto da planta.
        </p>
      </mat-card-content>
    </mat-card>

    <mat-card class="example-card">
      <img mat-card-image src="../../../assets/images/raiz.png"/>
      <mat-card-title>Crescimento</mat-card-title>
      <mat-card-content class="text">
        <p>
          No crescimento, a árvore que está jovem cresce verticalmente, tanto para cima, quanto para baixo.
          A raiz que antes era simples, se completa e forma quatro partes básicas: Coifa, Região lisa, Região pilífera e Região de ramificação.
        </p>
      </mat-card-content>
    </mat-card>

    <mat-card class="example-card">
      <img mat-card-image src="../../../assets/images/reprodução.jpg">
      <mat-card-title>Reprodução</mat-card-title>
      <mat-card-content class="text">
        <p>Na idade adulta, conhecida também como fase de reprodução, a árvore de torna madura e está pronta para se reproduzir.
          Porém como estamos tratando de árvores não frutíferas,
          isso significa que estas árvores não possuem frutos para proteger o embrião (sementes) e nesse caso as sementes são chamadas de nuas.
        </p>
      </mat-card-content>
    </mat-card>

    <mat-card class="example-card">
      <img mat-card-image src="../../../assets/images/death.png"/>
      <mat-card-title>Morte</mat-card-title>
      <mat-card-content class="text">
        <p>Depois de nascer, crescer e se reproduzir, as árvores Frutíferas e não Frutíferas chegam na terceira idade ou velhice vegetal,
          o crescimento certamente diminui e os processos de regeneração são cada vez mais lentos,
          pois as raízes já não são mais capazes de retirarem do solo a água e sais minerais em quantidade suficiente. É o fim da vida.
        </p>
      </mat-card-content>
    </mat-card>
  </div>

</div>

