.content {
  padding: 20px;

  .main-title {
    text-align: center;
    font-family: "Bebas Neue", cursive;
    font-size: 20px;
    color: #25b838;
  }

  .text-content {
    .first-steps {
      display: flex;
    }
  }
}
