.toolbar-container {
  display: flex;
}

mat-toolbar {
  background-color: #EEEEEE;

  .menu-icon {
    color: #393E46;
  }
}

  mat-sidenav {
    width: 100%;
    height: 400px;
    background-color: #393E46;

    mat-nav-list {
      span {
        color: #86a7aa;
      }
    }
  }

