<div class="toolbar-conteiner">
  <mat-toolbar class="toolbar">
    <div class="icon">
      <button class="menu-icon" (click)="sidenav.toggle()" fxShow="false" fxHide.lt-sm="false" mat-icon-button >
        <mat-icon *ngIf="!sidenav.opened">menu</mat-icon>
        <mat-icon *ngIf="sidenav.opened">close</mat-icon>
      </button>
    </div>

    <div class="options">
      <span fxShow="true" fxHide.lt-sm="true">INÍCIO</span>
      <span fxShow="true" fxHide.lt-sm="true" routerLink="instrucoes">INSTRUÇÕES</span>
      <span fxShow="true" fxHide.lt-sm="true">AJUDA</span>
    </div>
  </mat-toolbar>
</div>

<mat-sidenav-container fxFlexFill>
  <mat-sidenav #sidenav mode="over">
    <mat-nav-list>
      <a mat-list-item routerLink="">
        <span>INÍCIO</span>
      </a>
      <a mat-list-item routerLink="instrucoes">
        <span>INSTRUÇÕES</span>
      </a>
      <a mat-list-item>
        <span>CICLO DE VIDA DAS ÁRVORES</span>
      </a>
      <a mat-list-item>
        <span>SERVIÇOS PENDENTES</span>
      </a>
      <a mat-list-item>
        <span>AJUDA</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content style="background-color: #393E46">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
