<div class="content">

  <mat-card class="example-card">

    <img mat-card-image src="../../../assets/images/arvore-caida-dois.jpg"/>

    <mat-card-content>
      <p class="title">IDENTIFIQUE UMA ÁRVORE EM RISCO</p>
      <p class="content">
        Veja as intruções e orientações
      </p>
    </mat-card-content>

    <mat-card-actions>
      <button mat-flat-button routerLink="instrucoes">
        INSTRUÇÕES
        <mat-icon>touch_app</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>


  <mat-card class="example-card">

    <img mat-card-image src="../../../assets/images/árvore01 - calçada500px.jpeg"/>

    <mat-card-content>
      <p class="title">ENTENDA DE MANEIRA FÁCIL</p>
      <p class="content">
        Entenda qual o estado de vida de uma árvore
      </p>
    </mat-card-content>

    <mat-card-actions>
      <button mat-flat-button routerLink="">
        CICLO DE VIDA
        <mat-icon>touch_app</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
</div>
