<div class="content">

  <div class="main-title">
    <p>Monitore a vida de qualquer árvore</p>
    <!-- <mat-icon>compost</mat-icon> -->
  </div>


  <div class="card-conteiner">
    <mat-card class="example-card">
      <img mat-card-image src="../../../assets/images/arvore-caida-dois.jpg"/>
      <mat-card-content>
        <p class="title">IDENTIFIQUE UMA ÁRVORE EM RISCO</p>
        <p class="content">
          Veja as intruções e orientações
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-flat-button routerLink="instrucoes">
          Instruções
          <!-- <mat-icon>touch_app</mat-icon> -->
        </button>
      </mat-card-actions>
    </mat-card>

    <mat-card class="example-card">
      <mat-card-title>Serviços</mat-card-title>
      <mat-card-subtitle>Cadastre as árvores com serviço pendente</mat-card-subtitle>
      <mat-card-content class="services">
        <p>Solicitou algum serviço? Cadastre as árvores que possuem serviços pendentes,
          assim você evitará de solicitar o serviço novamente
          para a mesma árvore.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-flat-button routerLink="servicos">Serviços Pendentes</button>
      </mat-card-actions>
    </mat-card>

    <mat-card class="example-card">
      <img mat-card-image src="../../../assets/images/environmental.jpg"/>
      <mat-card-content>
        <p class="title">CICLO DE VIDA DAS ÁRVORES</p>
        <p class="content">
          Entenda as etapas da vida de uma árvore
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-flat-button routerLink="">
          CICLO DE VIDA
          <!-- <mat-icon>touch_app</mat-icon> -->
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
