.content {
  padding: 20px;

  .sections {
    text-align: center;

    .main-title {
      color: #86a7aa;

      .orientacoes {
        p {
          margin-top: -10px;
          font-size: 16px;
        }
      }
    }

    .second-title {
      color: #86a7aa;
    }

    .button-one {
      margin-bottom: 20px;

      .seta {
        margin-top: 10px;
        color: #86a7aa;
      }
    }

    mat-grid-list {
      margin-bottom: 20px;

      mat-grid-tile {
        border-radius: 16px;

        img {
          width: 100%;
        }
      }
    }

    .second-title {
      p {
        font-size: 16px;
        margin-top: -10px;
      }
    }
  }

}
