<div class="content">
  <div class="sections">
    <div class="main-title">
      <h2>IDENTIFIQUE UMA ÁRVORE EM RISCO</h2>
      <span class="orientacoes">
        <p>Veja as intruções e orientações</p>
      </span>
    </div>

      <div class="button-one">
        <div class="buttons">
          <button mat-flat-button routerLink="instrucoes" routerLink="instruções">
            INSTRUÇÕES
            <mat-icon>touch_app</mat-icon>
          </button>
        </div>
      </div>

        <!--<div class="seta">
          <mat-icon>arrow_downward</mat-icon>
        </div>-->

        <mat-grid-list cols="1" rowHeight="6:4" gutterSize="10px">
          <mat-grid-tile>
            <img src="../../../assets/images/folhas 500px.jpg">
          </mat-grid-tile>

          <mat-grid-tile>
            <img src="../../../assets/images/árvore01 - calçada500px.jpeg">
          </mat-grid-tile>
        </mat-grid-list>


    <div class="second-title">
      <h2>ENTENDA DE MANEIRA FÁCIL</h2>
      <span>
        <p>Entenda qual o estado de vida de uma árvore</p>
      </span>
    </div>

      <div class="vida-button">
        <button mat-flat-button>
          CICLO DE VIDA
          <mat-icon>touch_app</mat-icon>
        </button>
      </div>

  </div>
</div>
